{
	email jordan@jwillikers.com
	acme_dns ovh {
		endpoint {$OVH_ENDPOINT}
		application_key {$OVH_APPLICATION_KEY}
		application_secret {$OVH_APPLICATION_SECRET}
		consumer_key {$OVH_CONSUMER_KEY}
	}
	# For testing
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

console.minio.jwillikers.io, console.minio.lan.jwillikers.io {
	reverse_proxy minio-server-pod.dns.podman:9090 {
		header_up X-Forwarded-Host {host}
		header_up Host {host}
	}
}

minio.jwillikers.io, minio.lan.jwillikers.io {
	reverse_proxy minio-server-pod.dns.podman:9000 {
		header_up X-Forwarded-Host {host}
		header_up Host {host}
	}
}
